html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.marker-label {
  transform: translate(0, -200%);
}

@font-face {
  font-family: 'Outfit Light';
  src: url('/Outfit-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Outfit Bold';
  src: url('/Outfit-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Outfit Regular';
  src: url('/Outfit-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Outfit Medium';
  src: url('/Outfit-Medium.ttf');
  font-weight: medium;
}
